<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fierroscocharcas">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BottomNav">

        <!-- Launcher -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Tus activities existentes -->
        <activity android:name=".ui.catalog.CatalogActivity" />
        <activity android:name=".ui.cart.CartActivity" />
        <activity android:name=".ui.profile.ProfileActivity" />
        <activity android:name=".ui.product.AddProductActivity" />
        <activity android:name=".ui.auth.LoginActivity" />
        <activity android:name=".ui.auth.RegisterActivity" />
        <activity android:name=".ui.payment.PaymentActivity" />
        <activity android:name=".ui.splash.SplashActivity" />
    </application>
</manifest>
